<div class="container" style="height: 100vh">

  <div class="page-bg"></div>

  <div class="animation-wrapper" style="z-index: -1;">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
    <div class="particle particle-3"></div>
    <div class="particle particle-4"></div>
  </div>

  <div
    class="row justify-content-around align-items-center mb-5 pt-4 pr-5 pl-5"
  >
    <!-- Header "Mi musica" -->

    <div class="sign">
      <span class="fast-flicker">Mi</span> mús<span class="flicker">i</span>ca
    </div>

    <!-- Modal -->

    <div
      class="subir"
      style="display: flex; align-items: center"
      data-toggle="modal"
      data-target="#myModal"
    >
      <label class="subir-label">
        <i class="fas fa-music"></i>
        Subir música
      </label>
    </div>

    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-lg bg-dark">
        <div class="modal-content bg-dark">
          <!-- Modal Header -->

          <div class="d-flex mt-3">
            <div class="d-flex justify-content-center flex-grow-1 text-center">
              <h3 style="color: white; margin: 0">
                Ingresa una URL de Youtube
              </h3>
            </div>
            <div class="d-flex justify-content-end mr-3 mb-1 align-self-center">
              <button class="btn btn-danger" data-dismiss="modal">X</button>
            </div>
          </div>

          <div class="modal-header bg-dark align-items-center pl-0">
            <img
              src="../assets/youtube.png"
              alt="image youtube"
              style="max-width: 100px"
            />
            <div class="input-group align-items-center">
              <input
                type="text"
                class="form-control"
                placeholder="https://www.youtube.com/watch?v=AxnPgF7AlVU&ab"
                #input
                (keyup)="cambiarPreview(input.value)"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-danger"
                  type="button"
                  (click)="cambiarPreview(input.value)"
                >
                  Buscar
                </button>
              </div>
            </div>
          </div>

          <!-- Modal body -->
          <div
            class="
              d-flex
              justify-content-center
              align-items-center
              border-bottom border-light
              flex-column
            "
          >
            <img
              #previewYoutube
              [src]="urlYoutube"
              style="max-width: 90%; display: none"
              class="mb-4 mt-4"
            />
            <div
              #subirArchivo
              class="justify-content-center text-center archivomp3 mt-4"
            >
              <h3 style="color: white; margin: 0">O subí un archivo .mp3</h3>
            </div>
            <div
              #subirArchivo2
              class="subir mb-4"
              style="display: flex; align-items: center"
            >
              <input
                #fileInput
                id="fichero"
                type="file"
                accept="audio/*"
                (change)="archivoMP3($event)"
              />
              <label for="fichero" class="subir-label">
                <i class="fas fa-music"></i>
                Subir música .mp3
              </label>
            </div>
          </div>
          <div class="modal-body bg-dark">
            <input
              type="text"
              placeholder="Título de la canción"
              style="max-width: 90%"
              class="form-control ml-4 mr-4"
              #titulo
              (keyup)="(titulo.value)"
            />
          </div>

          <div
            class="alert-danger"
            style="
              border-radius: 3px;
              padding: 5px;
              margin-left: 2.5rem;
              margin-right: 2.5rem;
              margin-bottom: 1rem;
            "
            *ngIf="titulo.value.length <= 0"
          >
            <div class="container-error-message">
              Escribe el título de la canción por favor.
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer bg-dark justify-content-center">
            <button
              type="submit"
              class="btn btn-warning"
              (click)="subirMusica()"
              #enviar
            >
              Subir Canción
              <img
                src="../assets/musica.png"
                alt=""
                style="max-width: 50px; font-weight: 800"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MUSICA -->

  <!-- Si es por Youtube -->
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div
      class="
        d-inline-flex
        card
        text-white
        bg-dark
        mb-5
        pl-4
        pr-4
        justify-content-center
        align-items-center
      "
      *ngFor="let music of listMusic"
    >
      <!-- Canción que viene de Youtube -->
      <div class="d-flex mt-3" *ngIf="music.urlVideo" style="max-width: 25em;">
        <div class="d-flex justify-content-center flex-grow-1 text-center title">
          <h2>{{ music.title }}</h2>
        </div>
        <div class="d-flex justify-content-end ml-3 mr-3 mb-1 align-self-center">
          <button class="btn btn-danger" (click)="deleteMusicYoutube(music.id)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>

      <youtube-player
        *ngIf="music.urlVideo"
        [videoId]="music.urlVideo"
        [width]="400"
        [height]="200"
        style="margin-top: .5rem; margin-bottom: 1.5rem"
      ></youtube-player>

      <!-- Si es por archivo -->

      <div class="d-flex mt-3" *ngIf="music.fileName">
        <div class="d-flex justify-content-center flex-grow-1 text-center title">
          <h2>{{ music.title }}</h2>
        </div>
        <div class="d-flex justify-content-end ml-3 mr-3 mb-1 align-self-center">
          <button class="btn btn-danger" (click)="deleteMusicFile(music.id)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>

      <div>
        <audio
          *ngIf="music.fileName"
          class="player__audio mb-4 reproductorMusica"
          controls
          style="width: 400px; height: 60px"
        >
          <source [src]="music.fileName" type="audio/mpeg" />
        </audio>
      </div>
    </div>
  </div>
</div>
