<div class="container" style="height: 100vh;">
  <div class="row justify-content-around mb-5 pt-4 pr-5 pl-5">
    <!-- Musica -->

    <div class="sign">
      <span class="fast-flicker">Mi</span> mus<span class="flicker">i</span>ca
    </div>

    <div class="subir" #fileInput style="display: flex; align-items: center;">
      <input
        id="fichero"
        type="file"
        name="myMeme"
        formControlName="file"
      />
      <label for="fichero" class="subir-label">
        <i class="fas fa-music"></i>
        Subir música
      </label>
    </div>
  </div>
  <div class="row justify-content-center pl-3 pr-3">
    <audio class="mb-4" controls style="width: 900px;">
      <source src="../assets/661012.mp3">
    </audio>
    <audio class="mb-4" controls style="width: 900px;">
      <source src="../assets/684652.mp3">
    </audio>
    <audio controls style="width: 900px;">
      <source src="../assets/713127.mp3">
    </audio>
  </div>
  <div class="row"></div>
</div>
